.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: rgb(89, 122, 96);
  border-radius: 5px;
  border: 4px solid rgb(137, 180, 146);
  color: antiquewhite;
  &__input {
    width: 100%;
    padding: 10px;
  }
  &__button {
    margin: 20px;
  }
}
